################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pdb
*.aps 
*.idb 
*.ncb 
*.obj 
*.pch 
*.sbr 
*.tmp 
*.pdb 
*.bsc 
*.ilk 
*.res
*.sdf 
*.dep 
*.ipch 
*.tlog 
*.exp 
*.hpj 
*.opt 
*.mdp 
*.plg 
*.clw
*.log